
<div class="text-end" style="display: flex;">


    <a class="nav-link text-dark" asp-controller="Account" asp-action="Register"><button id="loginbutton" class="btn btn-outline-light">Register </button></a>


    <a class="nav-link text-dark" asp-controller="Account" asp-action="Login"><button id="registerbutton" class="btn btn-outline-light">Login </button></a>

</div>
